In [ ]:
nega_num=.143
print(abs(nega_num))

0.143

In [ ]:
x=pow(4,5,6)
print(x)

4

In [ ]:
x=pow(3,4)
print(x)

81

In [ ]:
class person:
  name="merline"
  age=20
  country="usa"
  education="engineering"
print(dir(person))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'age', 'country', 'education', 'name']

In [ ]:
tuple=("h","b","a","c","f","d","e","g")
print(sorted(tuple))

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [ ]:
names_tuple=('merline','sneha','sukanti','hansika','jayapriya')
print(max(names_tuple))

sukanti

In [ ]:
number_tuple=(123,4563,8798,984,-7394,9993)
print(max(number_tuple))

9993

In [ ]:
number_tuple=(1,676,456,8940,7950)
print(min(number_tuple))

1

In [ ]:
nearest_number=round(97.04728945)
print(nearest_number)

97

In [ ]:
string="merline is bad"
print(len(string))

14

In [ ]:
a=(4,5,6,7,8)
print(sum(a,10))

40

In [ ]:
def square(num):
  """this function computes the square of the number."""
  return num**2
object_ =square(9)
print("the square of the number is :",object_)

the square of the number is : 81

In [ ]:
def square( my_list):
  squares = []
  for l in my_list:
    squares.append(l**2)
  return squares
list_= [45, 52, 13];
result = square(list_)
print("Squares of the list is:",result)

Squares of the list is: [2025, 2704, 169]