In [ ]:
marks=int(input("enter the marks?"))
if marks>85and marks<=100:
    print("congrats!you scored grade A...")
elif marks>60 and marks<=85:
    print("you scored grade B+...")
elif marks>40and marks<=60:
     print("you scored grade B...")
elif(marks>30 and marks<=40):
     print("you scored grade C...")

enter the marks?94
congrats!you scored grade A...

In [ ]:
#code to find the sum of squares of each element of the list using the loop
#creating the list of numbers 
numbers=[3,5,23,6,5,1,2,9,8]
#initializing a variable that will store the 
sum_=0
#using foe loop to iterate over the list for num in numbers:
sum_=sum_+num**2

In [ ]:
#itertion over a string
print("string iteration")
s="merlinekate"
for i in s:
  print(i)

string iteration
m
e
r
l
i
n
e
k
a
t
e

In [ ]:
for i in range(1,11):
  #if i is equal to 6,
  #continue to next iteration 
  #without printing 
  if i==6:
    continue
else:
      # otherwise print the value 
      # of i
  print(i,end="")

10

In [ ]:
for i in range(10):
  print(i)
  if i==2:
    break

0
1
2

In [ ]:
i=0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9